<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if userInSession}}
  {{userInSession.username}}
  <form action="auth/logout" method="POST">
    <button>Logout</button>
  </form>
{{else}}
<a href="auth/signup">Signup</a>
<a href="./auth/login">Login</a>
{{/if}}