<h2>Search</h2>
<form action="/search" method="post">
  <input type="text" name="searchQuery">
  <button type="submit">Search</button>
</form>

{{#if searchResults}}
  <ul>
    {{#each searchResults}}
      <li>
        <a href="{{this.wikipediaUrl}}" target="_blank"><h2>{{this.name}}</h2></a>
        <p>{{this.description}}</p>
        <p>Birth year: {{this.birth}}</p>
        <form action="/add-person" method="post"><button type="submit">Add person to list</button></form>
      </li>
    {{/each}}
  </ul>
{{/if}}